<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="Strict-Transport-Security" />
        <add
          name="Strict-Transport-Security"
          value="max-age=31536000"
        />
        <remove name="X-Content-Type-Options" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <remove name="X-Frame-Options" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <remove name="Referrer-Policy" />
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <remove fileExtension=".webp" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>
    <rewrite>
      <rules>
        <clear />
        <rule name="ProxyScadaWebSocket" stopProcessing="true">
          <match url="^ws/(.*)" />
          <action
            type="Rewrite"
            url="http://127.0.0.1:8090/ws/{R:1}"
            appendQueryString="true"
          />
        </rule>
        <rule name="ProxyApi" stopProcessing="true">
          <match url="^api/(.*)" />
          <action
            type="Rewrite"
            url="http://127.0.0.1:8090/{R:1}"
            appendQueryString="true"
          />
        </rule>
        <rule name="SpaFallback" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
